.quizBanner {
  display: flex;
  justify-content: space-between;

}

.mainBodyCSS {
  text-align: center;
  padding: 5% 15%;
  font-size: bold;
}

#houseQuestions {
  font-size: bold;
}

li {
  list-style: none;
}